canvas.seasons {
    position: fixed;
    top: 0;
    left: 0;
}


.asscroll-container {
    position: relative;
    overflow: visible;
}

.asscroll {
    transform: translate3d(0px, 0px, 0px);
    display: block;
    height: 100vh;
    width: 100vw;
}


// content
.scroll-arrow {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    bottom: 5%;
    display: inline-block;
    border: 1rem solid rgba($color: #fff9e3b3, $alpha: 0.7);
    border-width: 0 1rem 1rem 0;
    border-radius: 15%;
    width: 4rem;
    height: 4rem;
    opacity: 0;
    background: transparent;
    transform: rotate(45deg) translateX(-70%) scale(0.6);
}

.intro-text {
    margin: auto;
    position: absolute;
    display: inline-block;
    font-weight: 300;
    left: 50%;
    top: 50%;
    color: var(--color-text);
    text-align: center;
    transform: translate(-50%, -50%);
}


/* preloader stuff */
.animated-text {
    display: flex;
    flex-direction: row;
}

.animatedis {
    display: flex;
    transform: translateY(100%);
}

.section.scroll-start {
    .right {
        position: absolute;
        left: 20%;
        top: 65%;
    }

}

.section {
    width: 50%;
    padding: 1000px 4%;
    margin: 0;

    background-color: var(--color-background);
}