.mv {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;

    .mv-sub-title {
        margin-left: 8rem;
        text-align: right;
    }
}

.content {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    display: block;
    height: 0;
    width: 100%;
    overflow: auto;
}